<div class="site">
    <h2>Bookburn</h2>
  </div>
  <div class="navBar">
    <div class="menu">
      <a href="/"> Home </a>
      <form action="search" method="GET">
        <input name="query" type="text" placeholder="Search.." />
      </form>
    </div>
    <div class="profile">
      <img src="images/outline_account_circle_black_48dp.png" />
      <div class="dropdown">
        <ul>
          <h4> <%=name %> </h4>
          <li><a href="/books"> My Books </a></li>
          <li><a href="/logout"> Logout </a></li>
          <li><a href="#"> Settings </a></li>
          <li><a href="#"> BurBur </a></li>
        </ul>
      </div>
    </div>
  </div>
