
.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}

.statsContainer .title {
    font-size: 30px;
    font-weight: 600;
}

.statsContainer .stats {
    border: 15px solid green;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}